 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.15), rgba(0,0,0,0.15)), url("images/5B1A824E-4C2B-4F7F-B82C-B4A960526BFC.jpeg");
}

.u-section-1 .u-sheet-1 {
  min-height: 785px;
}

.u-section-1 .u-group-1 {
  width: 724px;
  min-height: 605px;
  box-shadow: 0 0 40px 4px rgba(26,26,26,0.8);
  background-image: none;
  height: auto;
  margin: 108px auto 60px 189px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 6px 6px;
}

.u-section-1 .u-text-1 {
  margin: 56px 20px 0;
}

.u-section-1 .u-shape-1 {
  width: 94px;
  height: 96px;
  margin: -247px 0 0 auto;
}

.u-section-1 .u-text-2 {
  font-size: 4.5rem;
  margin: 171px 20px 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-size: 1.25rem;
  animation-duration: 1750ms;
  margin: 46px auto 0;
}

.u-section-1 .u-icon-1 {
  color: rgb(16, 129, 224) !important;
  margin-left: 0;
  vertical-align: 0px;
}

.u-section-1 .u-shape-2 {
  width: 94px;
  height: 96px;
  margin: -26px auto -70px 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 761px;
  }

  .u-section-1 .u-group-1 {
    width: 594px;
    margin-left: 173px;
    height: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .u-section-1 .u-text-1 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-1 .u-text-2 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-1 .u-icon-1 {
    transition-duration: 0.5s;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    width: 455px;
    margin-left: 133px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 4px;
    padding-right: 4px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 3px;
    padding-right: 3px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-shape-1 {
    margin-left: 240px;
  }

  .u-section-1 .u-text-2 {
    font-size: 2.25rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-shape-2 {
    margin-top: 53px;
    margin-left: -6px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 842px;
}

.u-section-2 .u-image-1 {
  width: 570px;
  height: 496px;
  box-shadow: 0 0 40px 0 rgba(26,26,26,0.4);
  margin: 60px auto 0 0;
}

.u-section-2 .u-image-2 {
  width: 572px;
  height: 365px;
  box-shadow: 0 0 31px 0 rgba(26,26,26,0.55);
  margin: -79px 267px 0 auto;
}

.u-section-2 .u-group-1 {
  width: 548px;
  min-height: 417px;
  margin: -782px 0 0 auto;
}

.u-section-2 .u-container-layout-1 {
  padding-left: 38px;
}

.u-section-2 .u-text-1 {
  font-size: 2.25rem;
  margin: 40px 60px 0 0;
}

.u-section-2 .u-line-1 {
  width: 64px;
  height: 3px;
  transform-origin: left center 0;
  margin: 28px auto 0 0;
}

.u-section-2 .u-text-2 {
  margin: 22px 60px 40px 0;
}

.u-section-2 .u-group-2 {
  width: 301px;
  min-height: 290px;
  margin: 79px auto 0 0;
}

.u-section-2 .u-container-layout-2 {
  padding-left: 20px;
}

.u-section-2 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 112px auto 0 0;
}

.u-section-2 .u-text-3 {
  line-height: 1.6;
  margin: -107px 20px 0 0;
}

.u-section-2 .u-group-3 {
  width: 385px;
  min-height: 253px;
  background-image: none;
  margin: -331px 0 78px auto;
}

.u-section-2 .u-container-layout-3 {
  padding-left: 21px;
  padding-right: 35px;
}

.u-section-2 .u-text-4 {
  font-size: 2.25rem;
  margin: 20px 20px 0;
}

.u-section-2 .u-line-2 {
  width: 64px;
  height: 3px;
  transform-origin: left center 0;
  margin: 20px auto 0 20px;
}

.u-section-2 .u-text-5 {
  font-style: italic;
  margin: 26px 20px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1040px;
  }

  .u-section-2 .u-image-1 {
    width: 470px;
  }

  .u-section-2 .u-image-2 {
    width: 472px;
    height: 315px;
    margin-top: -22px;
    margin-right: 220px;
  }

  .u-section-2 .u-group-1 {
    width: 452px;
    min-height: 474px;
    margin-top: -789px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 31px;
  }

  .u-section-2 .u-text-1 {
    position: relative;
    margin-right: 49px;
  }

  .u-section-2 .u-line-1 {
    width: 53px;
  }

  .u-section-2 .u-text-2 {
    position: relative;
    margin-right: 49px;
  }

  .u-section-2 .u-group-2 {
    width: 248px;
    min-height: 289px;
    margin-top: 59px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 16px;
  }

  .u-section-2 .u-icon-1 {
    height: 53px;
    width: 53px;
  }

  .u-section-2 .u-text-3 {
    position: relative;
    margin-right: 16px;
  }

  .u-section-2 .u-group-3 {
    width: 360px;
    min-height: 290px;
    margin-top: -186px;
    margin-bottom: 54px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 17px;
    padding-right: 29px;
  }

  .u-section-2 .u-text-4 {
    position: relative;
    margin-top: 25px;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-2 .u-line-2 {
    width: 53px;
    margin-left: 16px;
  }

  .u-section-2 .u-text-5 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 25px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1333px;
  }

  .u-section-2 .u-image-1 {
    width: 360px;
    height: 596px;
    margin-top: 54px;
  }

  .u-section-2 .u-image-2 {
    width: 454px;
    height: 343px;
    margin-right: 46px;
  }

  .u-section-2 .u-group-1 {
    width: 359px;
    min-height: 574px;
    margin-top: -917px;
    margin-right: 1px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 24px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 48px;
    margin-right: 39px;
  }

  .u-section-2 .u-line-1 {
    width: 41px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 39px;
    margin-bottom: 48px;
  }

  .u-section-2 .u-group-2 {
    width: 220px;
    min-height: 284px;
    margin-top: 30px;
    margin-left: 1px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 13px;
  }

  .u-section-2 .u-icon-1 {
    height: 40px;
    width: 40px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 13px;
  }

  .u-section-2 .u-group-3 {
    width: 553px;
    min-height: 244px;
    margin: 13px auto 78px 8px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 13px;
    padding-right: 22px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-2 .u-line-2 {
    width: 40px;
    margin-left: 13px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 13px;
    margin-right: 13px;
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1546px;
  }

  .u-section-2 .u-image-1 {
    width: 370px;
    height: 358px;
    margin-top: 484px;
  }

  .u-section-2 .u-image-2 {
    width: 339px;
    height: 435px;
    margin-top: -94px;
    margin-right: auto;
    margin-left: 202px;
  }

  .u-section-2 .u-group-1 {
    min-height: 334px;
    margin-top: -1121px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 18px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 35px;
    margin-right: 18px;
  }

  .u-section-2 .u-line-1 {
    width: 38px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 18px;
    margin-bottom: 35px;
  }

  .u-section-2 .u-group-2 {
    width: 200px;
    min-height: 273px;
    margin-top: 380px;
    margin-left: 0;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 9px;
  }

  .u-section-2 .u-icon-1 {
    height: 38px;
    width: 38px;
    margin-top: 35px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 9px;
  }

  .u-section-2 .u-group-3 {
    width: 383px;
    min-height: 295px;
    margin-top: 35px;
    margin-left: 0;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 17px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 53px;
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-2 .u-line-2 {
    width: 38px;
    margin-left: 9px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1782px;
  }

  .u-section-2 .u-image-1 {
    height: 371px;
    margin-top: 612px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-image-2 {
    width: 273px;
    height: 324px;
    margin-top: -56px;
    margin-right: 22px;
    margin-left: auto;
  }

  .u-section-2 .u-group-1 {
    min-height: 542px;
    margin-top: -1193px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 11px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
    margin-right: 12px;
  }

  .u-section-2 .u-line-1 {
    width: 32px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 12px;
  }

  .u-section-2 .u-group-2 {
    min-height: 185px;
    margin-top: 651px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 6px;
  }

  .u-section-2 .u-icon-1 {
    height: 32px;
    width: 32px;
    margin-top: 25px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 20px;
  }

  .u-section-2 .u-group-3 {
    min-height: 261px;
    margin-top: 26px;
    margin-bottom: 59px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-4 {
    font-size: 1.875rem;
    margin-top: 26px;
    margin-right: 20px;
    margin-left: 0;
  }

  .u-section-2 .u-line-2 {
    width: 32px;
    margin-left: 0;
  }

  .u-section-2 .u-text-5 {
    margin-right: 20px;
    margin-left: 0;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 614px;
}

.u-section-3 .u-shape-1 {
  width: 452px;
  height: 419px;
  margin: 60px 42px 0 auto;
}

.u-section-3 .u-group-1 {
  min-height: 494px;
  width: 454px;
  margin: -419px auto 0 0;
}

.u-section-3 .u-container-layout-1 {
  padding-left: 16px;
  padding-right: 16px;
}

.u-section-3 .u-text-1 {
  font-size: 2.25rem;
  margin: 35px 60px 0 0;
}

.u-section-3 .u-line-1 {
  width: 64px;
  height: 3px;
  transform-origin: left center 0;
  margin: 23px auto 0 0;
}

.u-section-3 .u-text-2 {
  margin: 23px 60px 2px 0;
}

.u-section-3 .u-image-1 {
  width: 457px;
  height: 309px;
  margin: -309px 229px 0 auto;
}

.u-section-3 .u-image-2 {
  width: 387px;
  height: 477px;
  box-shadow: 0 0 40px 0 rgba(26,26,26,0.4);
  object-position: 50% 0%;
  background-position: 50% 0%;
  margin: -642px 0 165px auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 672px;
  }

  .u-section-3 .u-shape-1 {
    width: 396px;
    margin-right: 35px;
  }

  .u-section-3 .u-group-1 {
    min-height: 530px;
    width: 374px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 13px;
    position: relative;
  }

  .u-section-3 .u-line-1 {
    width: 53px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 13px;
    margin-bottom: 34px;
    position: relative;
  }

  .u-section-3 .u-image-1 {
    width: 377px;
    margin-right: 189px;
  }

  .u-section-3 .u-image-2 {
    width: 363px;
    height: 445px;
    margin-top: -610px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1004px;
  }

  .u-section-3 .u-shape-1 {
    width: 363px;
    height: 432px;
    margin-top: 54px;
    margin-right: 54px;
  }

  .u-section-3 .u-group-1 {
    min-height: 381px;
    margin-top: 96px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 40px;
    margin-right: 11px;
  }

  .u-section-3 .u-line-1 {
    width: 40px;
    margin-top: 32px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 32px;
    margin-right: 11px;
    margin-bottom: 40px;
  }

  .u-section-3 .u-image-1 {
    width: 549px;
    height: 336px;
    margin-top: -717px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-3 .u-image-2 {
    width: 346px;
    height: 446px;
    margin-top: -649px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1052px;
  }

  .u-section-3 .u-shape-1 {
    width: 316px;
    height: 415px;
    margin-top: 41px;
    margin-right: 73px;
  }

  .u-section-3 .u-group-1 {
    min-height: 405px;
    margin-top: 150px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 8px;
    padding-right: 8px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
    margin-right: 28px;
  }

  .u-section-3 .u-line-1 {
    width: 38px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 28px;
  }

  .u-section-3 .u-image-1 {
    width: 363px;
    height: 295px;
    margin-top: -741px;
  }

  .u-section-3 .u-image-2 {
    width: 316px;
    height: 437px;
    margin-top: -647px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1388px;
  }

  .u-section-3 .u-shape-1 {
    width: 249px;
    height: 386px;
    margin-top: 197px;
    margin-right: 41px;
  }

  .u-section-3 .u-group-1 {
    min-height: 591px;
    margin-top: 191px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 18px;
  }

  .u-section-3 .u-line-1 {
    width: 32px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 18px;
  }

  .u-section-3 .u-image-1 {
    width: 227px;
    margin-top: -909px;
  }

  .u-section-3 .u-image-2 {
    width: 261px;
    height: 455px;
    margin-top: -710px;
  }
} .u-section-4 {
  background-image: url("images/0deb95780006ded47c0b24ebfd6a09a0.jpeg");
  background-position: 50% 18.34%;
}

.u-section-4 .u-sheet-1 {
  min-height: 1046px;
}

.u-section-4 .u-list-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 13.3333px) calc(33.3333% - 13.3333px) calc(33.3333% - 13.3333px);
  grid-gap: 20px 20px;
  min-height: 831px;
}

.u-section-4 .u-list-item-1 {
  background-image: none;
}

.u-section-4 .u-container-layout-1 {
  padding: 50px 30px 40px;
}

.u-section-4 .u-text-1 {
  font-size: 6rem;
  font-weight: 400;
  line-height: 1;
  margin: 0 224px 0 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.5rem;
  margin: -63px 0 0 83px;
}

.u-section-4 .u-text-3 {
  font-size: 1rem;
  line-height: 1.8;
  margin-top: 40px;
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-4 .u-list-item-2 {
  background-image: none;
}

.u-section-4 .u-container-layout-2 {
  padding: 50px 30px 40px;
}

.u-section-4 .u-text-4 {
  font-size: 6rem;
  font-weight: 400;
  line-height: 1;
  margin: 0 224px 0 0;
}

.u-section-4 .u-text-5 {
  font-size: 1.5rem;
  margin: -63px 0 0 83px;
}

.u-section-4 .u-text-6 {
  font-size: 1rem;
  line-height: 1.8;
  margin-top: 40px;
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-4 .u-list-item-3 {
  background-image: none;
}

.u-section-4 .u-container-layout-3 {
  padding: 50px 30px 40px;
}

.u-section-4 .u-text-7 {
  font-size: 6rem;
  font-weight: 400;
  line-height: 1;
  margin: 0 224px 0 0;
}

.u-section-4 .u-text-8 {
  font-size: 1.5rem;
  margin: -63px 0 0 83px;
}

.u-section-4 .u-text-9 {
  font-size: 1rem;
  line-height: 1.8;
  margin-top: 40px;
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-4 .u-list-item-4 {
  background-image: none;
}

.u-section-4 .u-container-layout-4 {
  padding: 50px 30px 40px;
}

.u-section-4 .u-text-10 {
  font-size: 6rem;
  font-weight: 400;
  line-height: 1;
  margin: 0 224px 0 0;
}

.u-section-4 .u-text-11 {
  font-size: 1.5rem;
  margin: -63px 0 0 83px;
}

.u-section-4 .u-text-12 {
  font-size: 1rem;
  line-height: 1.8;
  margin-top: 40px;
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-4 .u-list-item-5 {
  background-image: none;
}

.u-section-4 .u-container-layout-5 {
  padding: 50px 30px 40px;
}

.u-section-4 .u-text-13 {
  font-size: 6rem;
  font-weight: 400;
  line-height: 1;
  margin: 0 224px 0 0;
}

.u-section-4 .u-text-14 {
  font-size: 1.5rem;
  margin: -63px 0 0 83px;
}

.u-section-4 .u-text-15 {
  font-size: 1rem;
  line-height: 1.8;
  margin-top: 40px;
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-4 .u-list-item-6 {
  background-image: none;
}

.u-section-4 .u-container-layout-6 {
  padding: 50px 30px 40px;
}

.u-section-4 .u-text-16 {
  font-size: 6rem;
  font-weight: 400;
  line-height: 1;
  margin: 0 224px 0 0;
}

.u-section-4 .u-text-17 {
  font-size: 1.5rem;
  margin: -63px 0 0 83px;
}

.u-section-4 .u-text-18 {
  font-size: 1rem;
  line-height: 1.8;
  margin-top: 40px;
  margin-right: 0;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 716px;
  }

  .u-section-4 .u-list-1 {
    height: auto;
  }

  .u-section-4 .u-text-1 {
    font-size: 4.8125rem;
    width: auto;
    margin-right: 152px;
  }

  .u-section-4 .u-text-2 {
    font-size: 1.375rem;
    width: auto;
    margin-top: -60px;
    margin-left: 69px;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-top: 41px;
    margin-left: 0;
  }

  .u-section-4 .u-text-4 {
    font-size: 4.8125rem;
    width: auto;
    margin-right: 152px;
  }

  .u-section-4 .u-text-5 {
    font-size: 1.375rem;
    width: auto;
    margin-top: -60px;
    margin-left: 69px;
  }

  .u-section-4 .u-text-6 {
    width: auto;
    margin-top: 41px;
    margin-left: 0;
  }

  .u-section-4 .u-text-7 {
    font-size: 4.8125rem;
    width: auto;
    margin-right: 152px;
  }

  .u-section-4 .u-text-8 {
    font-size: 1.375rem;
    width: auto;
    margin-top: -60px;
    margin-left: 69px;
  }

  .u-section-4 .u-text-9 {
    width: auto;
    margin-top: 41px;
    margin-left: 0;
  }

  .u-section-4 .u-text-10 {
    font-size: 4.8125rem;
    width: auto;
    margin-right: 152px;
  }

  .u-section-4 .u-text-11 {
    font-size: 1.375rem;
    width: auto;
    margin-top: -60px;
    margin-left: 69px;
  }

  .u-section-4 .u-text-12 {
    width: auto;
    margin-top: 41px;
    margin-left: 0;
  }

  .u-section-4 .u-text-13 {
    font-size: 4.8125rem;
    width: auto;
    margin-right: 152px;
  }

  .u-section-4 .u-text-14 {
    font-size: 1.375rem;
    width: auto;
    margin-top: -60px;
    margin-left: 69px;
  }

  .u-section-4 .u-text-15 {
    width: auto;
    margin-top: 41px;
    margin-left: 0;
  }

  .u-section-4 .u-text-16 {
    font-size: 4.8125rem;
    width: auto;
    margin-right: 152px;
  }

  .u-section-4 .u-text-17 {
    font-size: 1.375rem;
    width: auto;
    margin-top: -60px;
    margin-left: 69px;
  }

  .u-section-4 .u-text-18 {
    width: auto;
    margin-top: 41px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1242px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: calc(50% - 10px) calc(50% - 10px);
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    font-size: 1.5rem;
    margin-top: -57px;
    margin-left: 73px;
  }

  .u-section-4 .u-text-3 {
    margin-top: 29px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-4 .u-text-4 {
    margin-right: 0;
  }

  .u-section-4 .u-text-5 {
    font-size: 1.5rem;
    margin-top: -57px;
    margin-left: 73px;
  }

  .u-section-4 .u-text-6 {
    margin-top: 29px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-4 .u-text-7 {
    margin-right: 0;
  }

  .u-section-4 .u-text-8 {
    font-size: 1.5rem;
    margin-top: -57px;
    margin-left: 73px;
  }

  .u-section-4 .u-text-9 {
    margin-top: 29px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-4 .u-text-10 {
    margin-right: 0;
  }

  .u-section-4 .u-text-11 {
    font-size: 1.5rem;
    margin-top: -57px;
    margin-left: 73px;
  }

  .u-section-4 .u-text-12 {
    margin-top: 29px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-4 .u-text-13 {
    margin-right: 0;
  }

  .u-section-4 .u-text-14 {
    font-size: 1.5rem;
    margin-top: -57px;
    margin-left: 73px;
  }

  .u-section-4 .u-text-15 {
    margin-top: 29px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-4 .u-text-16 {
    margin-right: 0;
  }

  .u-section-4 .u-text-17 {
    font-size: 1.5rem;
    margin-top: -57px;
    margin-left: 73px;
  }

  .u-section-4 .u-text-18 {
    margin-top: 29px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1212px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-4 .u-text-2 {
    margin-top: -52px;
    margin-left: 99px;
  }

  .u-section-4 .u-text-3 {
    margin-top: 50px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-4 .u-text-5 {
    margin-top: -52px;
    margin-left: 99px;
  }

  .u-section-4 .u-text-6 {
    margin-top: 50px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-4 .u-text-8 {
    margin-top: -52px;
    margin-left: 99px;
  }

  .u-section-4 .u-text-9 {
    margin-top: 50px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-4 .u-text-11 {
    margin-top: -52px;
    margin-left: 99px;
  }

  .u-section-4 .u-text-12 {
    margin-top: 50px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-4 .u-text-14 {
    margin-top: -52px;
    margin-left: 99px;
  }

  .u-section-4 .u-text-15 {
    margin-top: 50px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-4 .u-text-17 {
    margin-top: -52px;
    margin-left: 99px;
  }

  .u-section-4 .u-text-18 {
    margin-top: 50px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 190px;
  }

  .u-section-4 .u-text-2 {
    margin-top: -56px;
    margin-left: 73px;
  }

  .u-section-4 .u-text-3 {
    margin-top: 39px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-text-4 {
    margin-right: 190px;
  }

  .u-section-4 .u-text-5 {
    margin-top: -56px;
    margin-left: 73px;
  }

  .u-section-4 .u-text-6 {
    margin-top: 39px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-text-7 {
    margin-right: 190px;
  }

  .u-section-4 .u-text-8 {
    margin-top: -56px;
    margin-left: 73px;
  }

  .u-section-4 .u-text-9 {
    margin-top: 39px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-text-10 {
    margin-right: 190px;
  }

  .u-section-4 .u-text-11 {
    margin-top: -56px;
    margin-left: 73px;
  }

  .u-section-4 .u-text-12 {
    margin-top: 39px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-text-13 {
    margin-right: 190px;
  }

  .u-section-4 .u-text-14 {
    margin-top: -56px;
    margin-left: 73px;
  }

  .u-section-4 .u-text-15 {
    margin-top: 39px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-text-16 {
    margin-right: 190px;
  }

  .u-section-4 .u-text-17 {
    margin-top: -56px;
    margin-left: 73px;
  }

  .u-section-4 .u-text-18 {
    margin-top: 39px;
  }
}